# local credentials
credentials.properties

# Vim
*.sw[op]

# Gradle
.gradle
build

.idea/workspace.xml

# Eclipse
.project
.classpath
.settings/
bin

# Maven
*.log
log/
target/

# Output
database*
logs
test_db*
testnetSampleDb
sampleDB*

# Local configuration
**/user.conf
**/out.log
**/user.log4j.properties
